 /*////////////////////////////HEADER///////////////////////////////*/
 body {
    margin: 0;
    font-family: "quicksilver";
    background-image: url(/bison4/location/bglocation.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}


header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

header::after {
    content: '';
    display: table;
    clear: both;
}


nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;

}

nav li a:hover {
    color: rgba(0, 0, 0, 0.500);
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-right: 100px;
}

.icon-camera:before {
    content: "\e90f";
    color: black;
    font-size: 25px;
}


.logo {
    height: auto;
    width: auto;
    max-height: 70px;
    max-width: 250px;
    float: left;
}

/*////////////////////////////END HEADER///////////////////////////////*/
/*////////////////////////////FIRST PAGE///////////////////////////////*/

.maps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
}

h1 {
    font-size: 90px;
    font-weight: 100;
}

p {
    font-size: 30px;
}

img {
    margin-left: 10px;
}

.image {
    flex-basis: 40%;
}

.text {
    font-size: 20px;
    padding-left: 20px;
}

button {
    background-color: white;
    color: black;
    margin-top: 20vh;
    font-family: quicksilver;
    font-weight: 200;
    font-size: 15px;
    padding: 0.8em 25px;
    border: 3px solid white;
    margin-left: 5vw;
}

button a {
    text-decoration: none;
    color: black;
}

button:hover {
    border: 3px solid black;
    box-shadow: 10px 10px 5px black;
}

/*////////////////////////////END FIRSTPAGE///////////////////////////////*/
/*////////////////////////////FOOTER///////////////////////////////*/
footer {
    background-color: white;
    width: 100%;
    padding: 10px 0;
}


a #div1,
a #div2 {
    width: 50%;
    font-size: 20px;
    float: left;
    text-align: center;
    color: black;
}

#div1:hover {
    color: rgba(0, 0, 0, 0.500);
}

#div2:hover {
    color: rgba(0, 0, 0, 0.500);
}



ul .social1 {
    text-align: center;
    padding-top: 2px;
    width: 50%;
    float: left;
    list-style: none;
}



ul .social2 {
    text-align: center;
    padding-top: 5px;

}

.social1 a {
    text-decoration: none;
}

.social2 a {
    text-decoration: none;
}

.icon-facebook:before {
    content: "\ea90";
    color: black;
    font-size: 25px;

}

.icon-instagram:before {
    content: "\ea92";
    color: black;
    font-size: 25px;
}

/*////////////////////////////END FOOTER///////////////////////////////*/