 /*////////////////////////////HEADER///////////////////////////////*/
 body {
     margin: 0;
     font-family: "quicksilver";
     background-image: url(/background.png);
     background-size: auto;
 }



 .container {
     width: 80%;
     margin: 0 auto;
 }


 header {
     background-color: white;
     position: fixed;
     top: 0;
     width: 100%;
 }

 header::after {
     content: '';
     display: table;
     clear: both;
 }


 nav {
     float: right;

 }

 nav ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 nav li {
     display: inline-block;
     margin-left: 70px;
     padding-top: 20px;

 }

 nav li a:hover {
     color: rgba(0, 0, 0, 0.500);
 }

 nav a {
     text-decoration: none;
     color: black;
     font-size: 20px;
     padding-right: 100px;
 }

 .icon-camera:before {
     content: "\e90f";
     color: black;
     font-size: 25px;
 }


 .logo {
     height: auto;
     width: auto;
     max-height: 70px;
     max-width: 250px;
     float: left;
 }

 /*//////////////////////////// END HEADER///////////////////////////////*/
 /*//////////////////////////// MAIN BUTTONS///////////////////////////////*/
 @font-face {
     font-family: uni-sans;
     src: url("VCR_OSD_MONO_1.001.ttf");

 }

 .mainbuttons {
     font-family: uni-sans;
     list-style: none;
     display: inline-block;
     margin-top: 10%;
     font-size: 18px;
     padding-left: 70px;
 }

 .mainbuttons a {
     text-decoration: none;
     color: #DED1BB;
     margin: 5px;
     text-align: center;
 }

 a li:hover {
     background-color: #475338;
 }

 a li {
     padding: 7px;
     background-color: #829569;
     padding-left: 25px;
     padding-right: 25px;
     padding-top: 13px;
     padding-bottom: 13px;
 }

 .aboutbutton #about {
     background-color: #475338;
     margin-top: 30px;
 }

 #logomelting {
     height: auto;
     width: auto;
     max-width: 150px;
     margin-bottom: 50px;
 }

 img {
     width: 1000px;
     height: 300px;
 }

 /*//////////////////////////// END MAIN BUTTONS///////////////////////////////*/



 /*////////////////////////////FOOTER///////////////////////////////*/
 footer {
     background-color: white;
     width: 100%;
     padding: 10px 0;
 }


 a #div1,
 a #div2 {
     width: 50%;
     font-size: 20px;
     float: left;
     text-align: center;
     color: black;
 }

 #div1:hover {
     color: rgba(0, 0, 0, 0.500);
 }

 #div2:hover {
     color: rgba(0, 0, 0, 0.500);
 }



 ul .social1 {
     text-align: center;
     padding-top: 2px;
     width: 50%;
     float: left;
     list-style: none;
 }



 ul .social2 {
     text-align: center;
     padding-top: 5px;

 }

 .social1 a {
     text-decoration: none;
 }

 .social2 a {
     text-decoration: none;
 }

 .icon-facebook:before {
     content: "\ea90";
     color: black;
     font-size: 25px;

 }

 .icon-instagram:before {
     content: "\ea92";
     color: black;
     font-size: 25px;
 }

 /*////////////////////////////END FOOTER///////////////////////////////*/